    body {
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

    header {
        height: 119px;
        background-color: #191919;
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* отступы внутри элемента 0 - верх,низ; 70px - лево право */
        /* полный синтаксис padding: 0 0 0 0 верх право низ лево (по часовой)*/
        /* ещё есть вариант padding-left, right, top, bottom, если нужно конкретный внутренний отступ */
        padding: 0 70px;
    }

    header div {
        display: flex;
        color: #FFFFFF;
        align-items: center;

        /* гэп это расстояние между элементами хедер див */
        gap: 40px;
    }