.podcast-img {
    height: 520px;
}

.podcast {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 50px 40px;
    gap: 40px;

}

.text-right {
    font-size: 70px;
}

.text-right span {
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links div {
    display: flex;
    gap: 15px;
}